.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  transition: all 0.3s ease;
}

/* SAME COLOR AFTER SCROLL */
.scrolled {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

/* LOGO */
.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;

  background: none;
  -webkit-text-fill-color: initial;
}

/* NAV LINKS */
.links {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.links a {
  color: #000000;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;

  transition: color 0.2s ease;
}

.links a:hover,
.activeLink {
  color: #F59E0B !important;
}

/* BUTTON */
.cta {
  background: #F59E0B;
  color: #000000 !important;

  padding: 0.6rem 1.3rem;
  border-radius: 8px;

  font-weight: 700;
  font-family: "Times New Roman", Times, serif;

  transition: 0.3s;
}

.cta:hover {
  background: #d97706;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;

  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 2px;

  background: #000000;
  border-radius: 2px;

  transition: transform 0.3s, opacity 0.3s;
}

.cross1 {
  transform: translateY(7px) rotate(45deg);
}

.crossHide {
  opacity: 0;
}

.cross2 {
  transform: translateY(-7px) rotate(-45deg);
}

/* MOBILE */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .cta {
    display: none;
  }

  .links {
    display: none;

    flex-direction: column;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: #ffffff;

    padding: 1.5rem 2rem;
    gap: 1.2rem;

    border-bottom: 1px solid #e5e7eb;
  }

  .links.open {
    display: flex;
  }
}